language: rust

matrix:
  include:
    - rust: stable
      script:
        - cargo build
        - cargo test

    - rust: beta
      script:
        - cargo build
        - cargo test

    - rust: nightly
      script:
        - cargo build
        - cargo test

    - rust: 1.34.0
    - rust: 1.36.0

    - rust: nightly
      name: Clippy
      script:
        - rustup component add clippy || travis_terminate 0
        - cargo clippy -- -D clippy::all

    - rust: nightly
      name: Emscripten
      script:
        - CARGO_WEB_RELEASE=$(curl -L -s -H Accept:application/json https://github.com/koute/cargo-web/releases/latest)
        - CARGO_WEB_VERSION=$(echo "${CARGO_WEB_RELEASE}" | jq -r .tag_name)
        - CARGO_WEB_URL="https://github.com/koute/cargo-web/releases/download/${CARGO_WEB_VERSION}/cargo-web-x86_64-unknown-linux-gnu.gz"

        - nvm install 9
        - mkdir -p ~/.cargo/bin
        - curl -L "${CARGO_WEB_URL}" | gzip -d > ~/.cargo/bin/cargo-web
        - chmod +x ~/.cargo/bin/cargo-web
        - cargo web test --target=asmjs-unknown-emscripten --nodejs
        - cargo web test --target=wasm32-unknown-emscripten --nodejs

  allow_failures:
    - rust: nightly
      name: Clippy
    - rust: nightly
      name: Emscripten

script:
  - cargo build
